In [1]:
import requests
import json
import pandas as pd

# Download the data from the provided link
url = "https://data.nasa.gov/resource/y77d-th95.json"
response = requests.get(url)
data = response.json()

#The code iterates over each meteorite in the data and extracts the required attributes. 
meteorite_data = []
for meteorite in data:
    attributes = {
        "name": meteorite["name"],
        "id": meteorite["id"],
        "nametype": meteorite["nametype"],
        "recclass": meteorite["recclass"],
        "mass": float(meteorite.get("mass (g)", 0)),
        "year": pd.to_datetime(meteorite.get("year", "1900-01-01"), errors="coerce"),
        "reclat": float(meteorite.get("reclat", 0)),
        "reclong": float(meteorite.get("reclong", 0)),
        "coordinates": [0, 0]  # Default values for latitude and longitude
    }
    #checks if the geolocation key is present in the meteorite dictionary. 
    if "geolocation" in meteorite:
        attributes["coordinates"] = [
            int(meteorite["geolocation"].get("latitude", 0)),
            int(meteorite["geolocation"].get("longitude", 0))
        ]
    #appends the extracted attributes for each meteorite to a list.
    meteorite_data.append(attributes)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(meteorite_data)

# Save the DataFrame to a CSV file
output_path = "meteorite_data.csv"
df.to_csv(output_path, index=False)

In [2]:
df.head()

,name,id,nametype,recclass,mass,year,reclat,reclong,coordinates
0,Aachen,1,Valid,L5,0.0,1880-01-01,50.77500,6.08333,"[0, 0]"
1,Aarhus,2,Valid,H6,0.0,1951-01-01,56.18333,10.23333,"[0, 0]"
2,Abee,6,Valid,EH4,0.0,1952-01-01,54.21667,-113.00000,"[0, 0]"
3,Acapulco,10,Valid,Acapulcoite,0.0,1976-01-01,16.88333,-99.90000,"[0, 0]"
4,Achiras,370,Valid,L6,0.0,1902-01-01,-33.16667,-64.95000,"[0, 0]"